/* Style the main container */
/* WeatherComponent.css */

.weather-container {
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    width: 80%;
    height: 90vh;
    margin: auto;

  }
  .p .light {
    color: var(--light-text-color);
  }
  /* Add additional styles as needed */
  
  .weather-data{
    background-color: red;
    padding: 5%;
    margin: 10px;
  }