/* Adjust the styles for .weather-container to position it on the right */
.weather-container {
    position: fixed;
    width: 50vw; /* 50% of the viewport width */
    height: 100vh;
    top: 0;
    right: 0;
    background-color: #f0f0f0;
    border-radius: 8px;
    z-index: 1; /* Bring it to the front */
}
  
/* Adjust the styles for .weather-data within .weather-container */
.weather-data {
    padding: 5%;
    height: 100vh; /* Adjust the height to fill the entire .weather-container */
    text-align: center; /* Center the text within the container */
}

.city-info {
    font-size: large;
    font-weight: bold;
}

.time {
    font-weight: bold;
}

.weather-condition {
    font-weight: bold;
}

.weather-c {
    font-weight: bold;
}
