:root {
  --light-background: #D3D3D3;
  --light-text-color: #121212;
  --light-border-color: #a6a6a6;
  --light-accent-color: #DBEDF7;
  
  
  --dark-background: #121212;
}

.App {
  text-align: center;
  overflow-x: hidden;
}

.App.light  {
  background-color: var(--light-background);
  color: var(--light-text-color);
}
